<table class="table table-striped table-bordered table-hover table-checkable order-column" datatable="ng" dt-options="dtOptions">
	<thead>
		<tr>
			<th></th>
			<th> Name </th>
			<th> Email </th>
			<th> Phone </th>
			<th> Type </th>
			<th> Status </th>
			<th> Last Connection </th>
			<th ng-show="editUsers"> Actions </th>
		</tr>
	</thead>
	<tbody>
		<tr class="odd gradeX" ng-repeat="user in users">
			<td>
				<div class="mt-action-img">
					<img ng-src="{{ user.profileImage }}" width="41" height="41" />
				</div>
			</td>
			<td>
				<span class="mt-action-author">{{ user.first_name }} {{ user.last_name }}</span>
				<p class="mt-action-desc"><span style="display: none">position:{{ user.position }}</span>{{ user.position }}</p>
			</td>
			<td>
				<a href="mailto:{{ user.email }}"> {{ user.email }} </a>
			</td>
			<td>
				<span ng-bind-html='user.phone | phoneLink'></span>
			</td>

			<td>
				<span class="label label-sm label-default"> {{ types[user.type] }} </span>
			</td>
			<td>
				<span class="label label-sm label-success"> {{ statuses[user.status] }} </span>
			</td>
			<td class="center"> {{ user.last_connect | moment:'MM/DD/YYYY HH:mm:ss' }} </td>
			<td ng-show="editUsers">
				<div class="btn-group btn-group-circle">
					<a href="#!/user/{{ user.user_id }}" type="button" class="btn btn-outline green btn-sm" ng-if="editUsers"><i class="fal fa-edit"></i></a>
					<button type="button" class="btn btn-outline red btn-sm" ng-click="deleteUser($index)" ng-if="editUsers"><i class="fal fa-trash"></i></button>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<style type="text/css">
	table.table, table.table tr, table.table tr th, table.table tr td {
		border: 0px;
	}
	.mt-action-author {
		font-weight: bold;
	}
	.mt-action-img > img {
		border-radius: 50% !important;
		margin-bottom: 2px;
	}
	.mt-action-desc {
		margin-bottom: 0;
		color: #999b9b;
	}
</style>