<div class="portlet light ">
	<div class="portlet-title">
		<div class="caption font-dark">
			<i class="icon-settings font-dark"></i>
			<span class="caption-subject bold uppercase"> Users</span>
		</div>
		<div class="actions">
			<div class="btn-group btn-circle">
				<a href="{{ fixurl }}files/users?file=xlsx" id="" class="btn sbold blue"> Excel 2007+
					<i class="fa fa-fa-file-excel"></i>
				</a>
				<a href="{{ fixurl }}files/users?file=xls" id="" class="btn sbold blue"> Excel 5
					<i class="fa fa-fa-file-excel"></i>
				</a>
				<a href="{{ fixurl }}files/users?file=csv" id="" class="btn sbold blue"> CSV
					<i class="fa fa-fa-file-archive"></i>
				</a>
				<a href="{{ fixurl }}files/users?file=tsv" id="" class="btn sbold blue"> TSV
					<i class="fa fa-fa-file-archive"></i>
				</a>
			</div>
			<div class="btn-group">
				<a href="#!/user/new" id="" class="btn sbold green"> Add New
					<i class="fa fa-plus"></i>
				</a>
			</div>
		</div>
	</div>
	<div class="portlet-body">
		<table-app template="views/angular/users_table.html" name="{{ 'All Users' }}"></table-app>

		<div class="row" ng-if="editUsers">
			<div class="col-xs-12">
				<form action="file_upload">
					<div class="btn-group btn-circle">
						<input type="file" 
							ngf-select ng-model="newUploadFile" name="newUploadFile" ngf-pattern="'.xls,.csv,.xlsx,.tsv'"
							ngf-accept="'.xls,.csv,.xlsx,.tsv'"
							ngf-model-invalid="invalidFile"
							ngf-change="fileUpdated($files, $event)"
							>
							<div ng-if="invalidFile.$errorMessages" class="messages">
								<div ng-if="invalidFile.$errorMessages.maxSize">The file must be less than 20MB</div>
								<div ng-if="invalidFile.$errorMessages.minHeight">The file must be at least 150px high</div>
							</div>
					</div>
				</form>
				<!-- <div class="btn-group" ng-show="showButtonUpload"> -->
				<div class="btn-group" ng-show="newUploadFile">
					
					<button id="" class="btn sbold blue" ng-click="upload()"> Upload </button>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	// TableDatatablesManaged.init();
</script>