<style type="text/css">
.profile-userpic img {
	width: auto !important;
	height: 100% !important;
}
.ui-select-focusser.ui-select-offscreen {
	display: none;
}
.bootstrap-select .caret {
	margin-top: 0px !important;
}
.ui-select-choices-row:hover {
	background-color: #ddd;
}
.ui-select-choices.ui-select-choices-content {
	width: 100%
}
</style>
<h1 class="page-title"> {{ (id == 'new') ? 'New' : '' }} User Profile | {{ user.first_name }} {{ user.last_name }} Account
	<!-- <small>user account page</small> -->
</h1>
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PROFILE SIDEBAR -->
		<div class="profile-sidebar">
			<!-- PORTLET MAIN -->
			<div class="portlet light profile-sidebar-portlet ">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<input type="file" class="dropify" data-default-file="{{ user.profile_image }}"
						ngf-select ng-model="newProfileImage" name="file" ngf-pattern="'image/*'"
						ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="150"
						ngf-resize="{width: 300, height: 300, centerCrop: true}"
						ngf-resize-if="$width > 300 || $height > 300"
						ngf-model-invalid="invalidFile"
						>
						<div ng-if="invalidFile.$errorMessages" class="messages">
							<div ng-if="invalidFile.$errorMessages.maxSize">The file must be less than 20MB</div>
							<div ng-if="invalidFile.$errorMessages.minHeight">The file must be at least 150px high</div>
						</div>
					<!-- <img ng-src="{{ user.profile_image }}" class="img-responsive" alt=""> -->
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name"> {{ user.first_name }} {{ user.last_name }} </div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-circle green btn-sm" ng-click="submit()">Save</button>
					<a href="#!/users" type="button" class="btn btn-circle red btn-sm">Go Back</a>
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
					</ul>
				</div>
				<!-- END MENU -->
			</div>
			<!-- END PORTLET MAIN -->
			<!-- PORTLET MAIN -->
			<div class="portlet light ">
				<div class="profile-usermenu">
					<div class="mt-widget-1">
						<div class="mt-body">
							<h3 class="mt-username" style="text-align: left">{{ user.created | moment:'MM/DD/YYYY HH:mm:ss' }}</h3>
							<p class="mt-user-title">Created: {{ user.date_created | moment:'YYYY/MM/DD HH:mm:ss' }}</p>
						</div>
					</div>

					<div class="mt-widget-1">
						<div class="mt-body">
							<h3 class="mt-username" style="text-align: left">{{ user.updated | moment:'MM/DD/YYYY HH:mm:ss' }}</h3>
							<p class="mt-user-title">Updated: {{ user.date_updated | moment:'YYYY/MM/DD HH:mm:ss' }}</p>
						</div>
					</div>
				</div>
			</div>
			<!-- END PORTLET MAIN -->
		</div>
		<!-- END BEGIN PROFILE SIDEBAR -->
		<!-- BEGIN PROFILE CONTENT -->
		<div class="profile-content">
			<div class="row">
				<div class="col-md-12">
					<div class="portlet light">
						<uib-tabset class="portlet-body tabbable-line" active="model.active" text-right="true">
							<uib-tab index="0" heading="Personal Info">
								<form class="form-horizontal">
									<input type="hidden" id="company_id" ng-value="user.company_id" name="company_id">
									<div class="form-group">
										<label for="inputText" class="col-sm-2 control-label">First Name</label>
										<div class="col-sm-10 input-group input-icon right">
											<i class="fa fa-user"></i>
											<input type="text" class="form-control" id="inputText" placeholder="First Name" ng-model="user.first_name" name="name">
										</div>
									</div>
									<div class="form-group">
										<label for="inputText" class="col-sm-2 control-label">Last Name</label>
										<div class="col-sm-10 input-group">
											<input type="text" class="form-control" id="inputText" placeholder="Last Name" ng-model="user.last_name" name="name">
										</div>
									</div>
									<div class="form-group">
										<label for="inputEmail" class="col-sm-2 control-label">Email</label>
										<div class="col-sm-10 input-group input-icon right">
											<i class="fa fa-envelope"></i>
											<input type="email" class="form-control" id="inputEmail" placeholder="E-Mail" ng-model="user.email" name="email">
										</div>
									</div>
									<div class="form-group">
										<label for="inputPhone" class="col-sm-2 control-label">Phone</label>
										<div class="col-sm-10 input-group input-icon right">
											<i class="fa fa-phone"></i>
											<input type="text" class="form-control" id="inputPhone" placeholder="(___) ___-____" ng-model="user.phone" name="phone" ui-mask="(999) 999-9999">
										</div>
									</div>

									<div class="form-group" ng-if="editUsers">
										<label for="inputPhone" class="col-sm-2 control-label">Type</label>
										<div class="col-sm-10 input-group bootstrap-select">
											<ui-select ng-model="user.type" theme="bootstrap" style="width: 100%">
												<ui-select-match placeholder="Select type...">
													<span class="text-color" ng-bind="$select.selected.name"></span>
												</ui-select-match>
												<ui-select-choices repeat="type.type as type in (types | filter: $select.search) track by type.type">
													<span ng-bind="type.name"></span>
												</ui-select-choices>
											</ui-select>
										</div>
									</div>
									<div class="form-group" ng-if="editUsers">
										<label for="inputPhone" class="col-sm-2 control-label">Status</label>
										<div class="col-sm-10 input-group bootstrap-select">
											<ui-select ng-model="user.status" theme="bootstrap" style="width: 100%">
												<ui-select-match placeholder="Select status...">
													<span class="text-color" ng-bind="$select.selected.name"></span>
												</ui-select-match>
												<ui-select-choices repeat="status.status as status in (statuses | filter: $select.search) track by status.status">
													<span ng-bind="status.name"></span>
												</ui-select-choices>
											</ui-select>
										</div>
									</div>






									<hr class="wide">
									<div class="margin-top-10">
										<a href="javascript:;" class="btn green" ng-click="submit()"> Save Changes </a>
										<a href="javascript:;" class="btn default"> Cancel </a>
									</div>
								</form>
							</uib-tab>
							<uib-tab index="3" heading="Change Password">
								<form class="form-horizontal">
									<input type="hidden" id="company_id" ng-value="user.company_id" name="company_id">
									<div class="form-group" ng-if="!editUsers">
										<label for="oldpassword" class="col-sm-2 control-label">Old Password</label>
										<div class="col-sm-10 input-group">
											<input type="password" class="form-control" id="oldpassword" placeholder="Old Password" ng-model="password.old" name="oldpassword">
										</div>
									</div>
									<div class="form-group">
										<label for="newpassword" class="col-sm-2 control-label">New Password</label>
										<div class="col-sm-10 input-group">
											<input type="password" class="form-control" id="newpassword" placeholder="New Password" ng-model="password.new" name="newpassword">
										</div>
									</div>
									<div class="form-group">
										<label for="repeatpassword" class="col-sm-2 control-label">Repeat Password</label>
										<div class="col-sm-10 input-group">
											<input type="password" class="form-control" id="repeatpassword" placeholder="Repeat Password" ng-model="password.repeat" name="repeatpassword">
											<!-- <div class="input-group-addon"><span class="fa fa-envelope"></span></div> -->
										</div>
									</div>
									<hr class="wide">
									<div class="margin-top-10">
										<button type="button" class="btn green m-b-5 waves-effect" ng-click="savePassword()">Change Password</button>
									</div>
								</form>
							</uib-tab>
						</uib-tabset>
					</div>
				</div>
			</div>
		</div>
		<!-- END PROFILE CONTENT -->
	</div>
</div>
